.color-option {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: grab;
}

.color-option:hover {
  border: 1px solid green;
  filter: drop-shadow(0px 0px 5px green);
}

.selected {
  border: 1px solid green;
  filter: drop-shadow(0px 0px 5px green);
}